**Encoding Techniques:

1.OneHotEncoding
2. Label Encodeing


One Hot Encoding: This deals with the Nominal Data


Label Encoding :  This deals with Ordinal data**

In [ ]:
#Explaination through Dummy data

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
data={'Color':['Red','Blue','Green','Blue','Red']}

In [16]:
dataframe=pd.DataFrame(data)
one_hot_encoded_df=pd.get_dummies(dataframe,columns=['Color'])

In [17]:
print(one_hot_encoded_df)

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1        True        False      False
2       False         True      False
3        True        False      False
4       False        False       True

Dummy Variable Trap

In [18]:
#This steps helps to avoid redudant Information and MultiColinearity
one_hot_encoded_df=pd.get_dummies(dataframe,columns=['Color'],drop_first=True)
print(one_hot_encoded_df)

   Color_Green  Color_Red
0        False       True
1        False      False
2         True      False
3        False      False
4        False       True

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [20]:
#Load the Dataset
file_path = '/content/carprices.csv'
car_data = pd.read_csv(file_path)

In [21]:
#Dispaly first few rows of the Dataset to understand the data
car_data.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [22]:
car_data.shape

(13, 4)

In [23]:
#Extract Car Models
car_models=car_data['Car Model']
car_models

0                    BMW X5
1                    BMW X5
2                    BMW X5
3                    BMW X5
4                    BMW X5
5                   Audi A5
6                   Audi A5
7                   Audi A5
8                   Audi A5
9     Mercedez Benz C class
10    Mercedez Benz C class
11    Mercedez Benz C class
12    Mercedez Benz C class
Name: Car Model, dtype: object

In [30]:
#Apply One Hot Encoding
one_hot_encoder=OneHotEncoder(sparse_output=False)
one_hot_encoded=one_hot_encoder.fit_transform(car_models.values.reshape(-1,1))

In [31]:
one_hot_encoded

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [33]:
#Convert One_hot_encoding into DataFrame
one_hot_encoded_df=pd.DataFrame(one_hot_encoded,columns=one_hot_encoder.get_feature_names_out(['Car Model']))

In [34]:
#Combine One Hot Encoded Columns into the main Dataframe
car_data_one_hot_encoded=pd.concat([car_data,one_hot_encoded_df],axis=1)

In [35]:
#Display the One Hot encoded Data
print("Car One hot encoded Data",car_data_one_hot_encoded)

Car One hot encoded Data                 Car Model  Mileage  Sell Price($)  Age(yrs)  \
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

    Car Model_Audi A5  Car Model_BMW X5  Car Model_Mercedez Benz C class
0                 0.0               1.0                              0.0
1                 0.0               1.0                              0.0
2                 0.0               1.0                              0.0
3                 0.0               1.0                              0.0
4                 0.0               1.0                              0.0
5                 1.0               0.0                              0.0
6                 1.0               0.0                              0.0
7                 1.0               0.0                              0.0
8                 1.0               0.0                              0.0
9                 0.0               0.0                              1.0
10                0.0               0.0                              1.0
11                0.0               0.0                              1.0
12                0.0               0.0                              1.0

In [39]:
#Apply label Encoder of the Car data
label_encoder=LabelEncoder()
label_encoded=label_encoder.fit_transform(car_data['Car Model'])

In [41]:
#Add the label Encoded Data to the Original Data
car_data_label_encoded=car_data.copy()
car_data['Car Model (Label Encoded)']=label_encoded

In [42]:
#Display the Label Encoded Data
print("The Label Encoded Data",car_data_label_encoded.head(14))

The Label Encoded Data                 Car Model  Mileage  Sell Price($)  Age(yrs)  \
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

    Car Model (Label Encoded)
0                           1
1                           1
2                           1
3                           1
4                           1
5                           0
6                           0
7                           0
8                           0
9                           2
10                          2
11                          2
12                          2